body{
    background-color: rgb(37, 129, 209);
}
.button {
    cursor: pointer;
    padding: 18px 20px;
    border: none;
    background-color: #e264cb25;
    color: rgb(58, 236, 165);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s;
    border-radius: 5px;
    border-radius: 100%;
    position: fixed;
    top: 400px;
    right: 100px;
}
  
  .button:hover {
    background-color: #45a04933;
  }
  
  #musicControl.playing::before {
    content: "衍";
  }
  
  #musicControl:not(.playing)::before {
    content: "风";
  }



  .t1{
        width: 300px;
        height: 200px;
        margin: 70px auto;
        background-color: aqua;
        border-radius: 40px 100px;
        box-shadow: 0 30px 170px blue;
        animation: name 7s ease-in-out infinite alternate;
  }
  @keyframes name{
    0%{
        opacity: 0.2;
        box-shadow: 0 30px 77px rgb(83, 165, 243);
    }
    25%{
        opacity: 0.4;
        box-shadow: 0 30px 77px rgb(49, 161, 164);
    }
    50%{
        opacity: 0.7;
        box-shadow: 0 30px 77px rgb(132, 186, 45);
    }
    75%{
        opacity: 0.8;
        box-shadow: 0 30px 77px rgb(180, 83, 195);
    }
    100%{
        opacity: 0.1;
        box-shadow: 0 30px 77px rgb(197, 95, 129);
    }
}

a{
    text-decoration: none;
}
hr{
    width: 240px;
    height: 20px;
    background-color: rgba(186, 135, 228, 0.619);
}
ol li{
    margin: 20px;
}